.container {
    margin-bottom: 40px;
    position: relative;
}

.title {
    margin-bottom: 8px;
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
}

.input {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 48px;
    height: 56px;
}

.icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 42px;
    left: 20px;
    fill: var(--gray-color);
    transition: fill var(--transition-timing-function)
}

.input:focus-within+.icon {
    fill: var(--main-color)
}