.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: transparent;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 106, 106, 0.8);
}

.prevButton,
.nextButton {
    background-color: transparent;
    border: none;
    outline: transparent;
    color: var(--white-color);
    padding: 6px;
}

.prevButton {
    margin-left: -50px;
}

.nextButton {
    position: absolute;
    right: -50px;
}